* {
  margin: 0;
  padding: 0;
}

.app {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.todo-input input {
  width: 350px;
}

.todo-list {
  margin-top: 16px;
  width: 500px;
}

.todo-item-content {
  cursor: pointer;
}

.todo-item-content:hover {
  color: hsl(171, 100%, 41%);
}

.card-footer-item:first-child {
  flex-grow: 10;
  justify-content: left;
  padding-left: 1.2rem;
}
